* {
    font-family: Helvetica;
}
#ColorBar {
    position: fixed;
    width:1440px;
    height: 30px;
    background-color:#F13E1E ;
    text-align: center;
    color:white; 
    border:1px solid lightgray;
}
#Title {
    position: relative;
    top:50px;
    left:100px;
}
#Name {
    position: relative;
    top:90px;
    left:100px;
}
#Address {
    position: relative;
    top:130px;
    left:100px;
}
#Payup {
    position: relative;
    top:170px;
    left:100px;
}
#CellNum {
    position: relative;
    top:210px;
    left:100px;
}